.carousel-container {
    position: relative;

}

.carousel {
    /* align-items: center; */
    display: flex;
    position: relative;
    /* Add position relative to establish a stacking context */

}

.carousel img {
    width: 100%;
    height: auto;
    scroll-snap-align: center;
}

.carousel-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 5px;
    font-size: 20px;
    color: var(--clr-gray-600);
    z-index: 1;
}

.prev-btn {
    left: 10px;
}


.next-btn {
    right: 10px;
}

.carousel-dots {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: none;
    background-color: var(--clr-gray-600);
    margin: 0 5px;
    cursor: pointer
}

.dot.active {
    background-color: var(--clr-blue-700);
}

@media (max-width: 50em) {

    /* .three-column-mid {
        grid-template-columns: 10px 400px 10px;
        gap: 10px;
    } */
}